.container
  %h1
    = @contest.name
    in election
    = link_to @contest.election.name, @contest.election
  %h2
    District
    = @contest.contest_gp_scope_object.name
    = link_to "edit", edit_vssc_contest_path(@contest)
  - if @contest.is_a?(Vssc::BallotMeasure)
    %h4 Summary
    %h3 Ballot Measure
    %p= @contest.summary_text
    %h4 Full Text
    %p= @contest.full_text
  
  
  %ul
    %li= "Ballots Case: #{@contest.total_ballots_cast}"
    %li= "Overvotes: #{@contest.total_overvotes}"
    %li= "Undervotes: #{@contest.total_undervotes}"
    %li= "Write ins: #{@contest.total_write_ins}"
    
  - if @contest.total_counts_by_gp_unit.any? && false
    %ul
      - @contest.total_counts_by_gp_unit.each do |tc|
        %li
          = "Ballots Cast: #{tc.ballots_cast}"
        %li  
          = "Overvotes: #{tc.overvotes}"
        %li
          = "Undervotes: #{tc.undervotes}"
        %li
          = "Write-ins: #{tc.write_ins}"
          
          
    
  %h3 Ballot Selections
  %ul
    - @contest.ballot_selections.each do |bs|
      %li
        = bs.name
        = bs.totals
        %ul.votes
          - if false
            - bs.vote_counts.each do |c|
              %li
                = "#{c.count} #{c.ballot_type} votes"
                in
                = "#{c.report_gp_unit.name} (#{c.report_gp_unit.national_geo_code || c.report_gp_unit.object_id})"
          