.container
  %h1 Create new jurisdiction

  = semantic_form_for @jurisdiction do |f|
    .form-group
      = f.inputs do
        = f.input :name
        = f.input :state, :collection=>State.order(:name).pluck(:name, :id)
        = f.input :contact_info, input_html: { rows: 4 }
    .form-group
      = f.actions do
        = f.action :submit