%h1= @jurisdiction.name
%p= @jurisdiction.contact_info

.container
  .row
    .col-md-12= link_to "Export Jurisdiction VSSC", vssc_export_jurisdiction_path(format: :xml)

  - @jurisdiction.election_report_uploads.each do |eru|
    .row
      .col-md-3= eru.file_name
      .col-md-3= eru.created_at
      .col-md-3= eru.source_type
      .col-md-3= link_to "Export Election Report VSSC", vssc_election_report_path(eru.election_report, format: :xml)

  

  .row
    .col-md-6
      %h3 Upload VSSC Election Report
      = semantic_form_for @jurisdiction do |f|
        = f.inputs do
          = f.input :vssc_election_report, as: :file
        = f.actions do
          = f.action :submit, :label=>"Upload"
      
    .col-md-y
      %h3 Upload Hart Election Report (ZIP)
      = semantic_form_for @jurisdiction do |f|
        = f.inputs do
          = f.input :hart_election_report, as: :file
        = f.actions do
          = f.action :submit, :label=>"Upload"
      

  .districts
    %h3 Districts
    - @jurisdiction.districts.each do |d|
      %div[d]
        .row
          .name.col-md-3= d.name
          .district_type.col-md-3= d.district_type
          .ocd_id.col-md-6= d.ocd_object.try(:ocd_id)
        .reporting_units.accordion{data: {accodrion: true }}
          .row
            .col-md-1
            .col-md-11
              %a{data: {toggle: :collapse}, href: "#district-#{d.id}"} Precincts
          .well.collapse{id: "district-#{d.id}"}
            - d.reporting_units.each do |ru|
              .row[ru]
                .col-md-3 &nbsp;
                .name.col-md-3= ru.name
                .ocd_id.col-md-6= ru.ocd_object.try(:ocd_id)
    


.row
  .col-md-12
    = semantic_form_for @jurisdiction do |f|
      = f.inputs do
        = f.input :background_csv, as: :file
      = f.actions do
        = f.action :submit, :label=>"Upload"

