%h1= @jurisdiction.name
%p= @jurisdiction.contact_info

.container

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = "Jurisdiction Districts (#{@jurisdiction.districts.count}) and Precincts (#{@jurisdiction.reporting_units.count})"
    .panel-body
      .row
        .col-md-12= link_to "Export Jurisdiction VSSC XML", vssc_export_jurisdiction_path(format: :xml)
      - if @jurisdiction.background_sources.any?
        - @jurisdiction.background_sources.each do |s|
          .row
            .col-md-12
              %a{data: {toggle: :collapse}, href: "#districts-#{s.id}"} 
                = "Show Districts from #{s.name} | #{s.created_at}"
          %table.table.collapse{id: "districts-#{s.id}"}
            - s.districts.each do |d|
              %tr[d]
                %td.name= d.name
                %td.district_type= d.district_type
                %td.ocd_id= d.ocd_object.try(:ocd_id)
              %tr
                %td
                %td{colspan: 2}
                  - if d.reporting_units.empty?
                    0 Precincts
                  - else
                    %a{data: {toggle: :collapse}, href: "#district-#{d.id}"}= "#{d.reporting_units.count} Precincts"
                    .collapse{id: "district-#{d.id}"}
                      %table.table.table-striped
                        - d.reporting_units.each do |ru|
                          %tr[ru]
                            %td.name= ru.name
                            %td.ocd_id= ru.ocd_object.try(:ocd_id)
  
      .row
        .col-md-6
          %h4 Upload district and precinct definitions from CSV
          = semantic_form_for @jurisdiction do |f|
            = f.inputs do
              = f.input :background_csv, as: :file, label: "Jurisdiction definition CSV"
            = f.actions do
              = f.action :submit, :label=>"Upload"
        .col-md-6
          %h4 Upload district and precinct definitions from VIP XML
          = semantic_form_for @jurisdiction do |f|
            = f.inputs do
              = f.input :background_vip, as: :file, label: "Jurisdiction definition VIP XML"
            = f.actions do
              = f.action :submit, :label=>"Upload"
              
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = "Shape Definitions"
    .panel-body
      .row
        .col-md-6
          %h4 Upload Reporting Unit Shape KML
          = semantic_form_for @jurisdiction do |f|
            = f.inputs do
              = f.input :selected_source_for_reporting_unit_kml, collection: @jurisdiction.background_sources.pluck(:name, :id)
              = f.input :reporting_unit_kml, as: :file, label: "Reporting Unit KML file"
            = f.actions do
              = f.action :submit, :label=>"Upload"
        .col-md-6
          %h4 Upload (some other shape source data?)

  .panel.panel-default
    .panel-heading
      %h3.panel-title Election Reports
    .panel-body
      %table.table.table-striped
        - @jurisdiction.election_report_uploads.each do |eru|
          %tr
            %td.file_name
              = eru.file_name
              %br
              = link_to "Delete", vssc_election_report_path(eru.election_report), {method: :delete, confirm: "Are you sure?"}
            %td.date= eru.created_at
            %td.source= eru.source_type
            %td.report
              Issuer:
              = eru.election_report.issuer
              %br
              Date:
              = eru.election_report.date
              %br
              Status:
              = eru.election_report.status
              %br
              = "Elections:"
              %ul
                - eru.election_report.elections.each do |e|
                  %li= link_to e.name, e
            %td
              = link_to "Export Election Report VSSC", vssc_election_report_path(eru.election_report, format: :xml)
              %br
              Upload Election Results
              = semantic_form_for eru.election_report do |f|
                = f.inputs do
                  = f.input :election_results_csv, as: :file
                = f.actions do
                  = f.action :submit, :label=>"Upload"
            

      .row
        .col-md-6
          %h3 Upload VSSC Election Report
          = semantic_form_for @jurisdiction do |f|
            = f.inputs do
              = f.input :vssc_election_report, as: :file
            = f.actions do
              = f.action :submit, :label=>"Upload"
      
        .col-md-6
          %h3 Upload Hart Election Report (ZIP)
          - if @jurisdiction.background_sources.empty?
            You must upload jurisdiction district and precinct definitions in order
            to process Hart data.
          - else 
            = semantic_form_for @jurisdiction do |f|
              = f.inputs do
                = f.input :selected_source_for_hart, collection: @jurisdiction.background_sources.pluck(:name, :id)
                = f.input :hart_election_report, as: :file
              = f.actions do
                = f.action :submit, :label=>"Upload"
      
